body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

th,
td {
  @apply p-2;
}

button {
  @apply rounded-md;
}

.changePrioritizationFormContainer {
  @apply mt-8;
}

.changePrioritizationFormContainer label {
  @apply font-bold;
}

.formContainer {
  @apply bg-[#1C1C20] p-8 mt-8 rounded-md shadow-md w-1/2 mx-auto;
}
.formContainer label {
  @apply mt-8;
}
.formContainer input {
  @apply text-black;
}
.positiveButton {
  @apply mt-4 mr-2  border-2 w-full cursor-pointer border-green-500 rounded-md hover:bg-green-500 hover:text-white p-2;
}
.positiveButtonLogin {
  @apply mt-4 mr-2 w-1/2 border-2 cursor-pointer border-green-500 rounded-md hover:bg-green-500 hover:text-white p-2;
}
.negativeButton {
  @apply font-bold mt-4 ml-2 w-1/2 border-2 border-red-500 rounded-md hover:bg-red-500 hover:text-white p-2 text-center;
}

.actionGetButton {
  @apply font-bold mt-4 border-2 border-blue-500 rounded-md hover:bg-blue-500 hover:text-white p-2 text-center;
}

.actionSendButton {
  @apply font-bold mt-4 border-2 border-orange-500 rounded-md hover:bg-orange-500 hover:text-white p-2 text-center;
}

.deleteButton {
  @apply font-bold border-2 border-red-500 rounded-md hover:bg-red-500 hover:text-white px-4 text-center;
}

.fieldError {
  @apply text-red-400 text-sm;
}

.table {
  @apply bg-slate-950 w-full text-left mt-4 p-4 rounded-md;
}

.tableHead {
  @apply font-bold text-lg mt-8;
}

.tableBody {
  @apply bg-gray-800;
}

.tableRow {
  @apply border-b-2 border-b-slate-900 leading-loose;
}

.pageHeader {
  @apply text-blue-400 font-bold text-3xl italic;
}
